
body,
h2 {
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.reg_container {
    width: 25%;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background: #fff;
    color: #4CAF50;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #4CAF50;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background: #4CAF50;
    color: white;
}

input::placeholder {
    color: #ccc;
}

.sp {
    color: #7D7C7C;
    font-size: 15px;
}

.sp span {
    display: block;
    text-align: left;
}

#eSpan h6,
#uSpan h6,
#tSpan h6,
#fnSpan h6,
#lnSpan h6,
#cpSpan h6 {
    color: red;
    font-size: 10px;
    text-align: left;
    margin: 7px 0;
}

#pSpan h6 {
    color: grey;
    font-size: 10px;
    text-align: left;
    margin: 7px 0;
}

.notification {
    position: fixed;
    top: 5%;
    width: 300px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    color : red;
}

.notification p {
    margin: 0;
}

.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.close {
    float: right;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

#already_acc {
    font-size: 12px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#already_acc {
    font-size: 14px;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    color: #555;
    transition: color 0.3s;
}

#already_acc:hover {
    color: #4CAF50;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-button {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px; /* Adjust the button size */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px; /* Adjust margins between buttons */
    position: relative;
}

.social-button img {
    width: 100%; /* Make the image fit inside the button */
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.social-button:hover {
    background-color: #f2f2f2;
}

.social-button::after {
    content: attr(data-social);
    display: none;
    position: absolute;
    top: 30px; /* Adjust distance from button */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}

.social-button:hover::after {
    display: block;
}
