<!DOCTYPE html>
<html>

<head>
    <title>Dashboard | Reclamations</title>
    <link rel="stylesheet" type="text/css" href="../assets/back/admin.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/back/assets/img/favicon.png">


    <link href="../assets/back/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/back/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/back/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/back/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/back/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/back/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/back/vendor/simple-datatables/style.css" rel="stylesheet">

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
    <main>
        <div class="pagetitle">
            <h1>Lists des Reclamations</h1>
            <br>
        </div>

        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body" align="center">
                            <a href="ajouterReclamationBack.php">
                                <button class="btn btn-outline-success">Ajouter Reclamation</button>
                            </a>
                            <br><br>
                            <a href="afficherReclamation.php">
                                <button class="btn btn-outline-success">Afficher Reclamations</button>
                            </a>
                            <br><br>
                            <a href="afficherReponse.php">
                                <button class="btn btn-outline-success">Afficher Reponses</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    
</body>

</html>